___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    """Function to check the lesser of two given numbers if both are even, but returns the greater 
    if one or both numbers are odd """
    #Checking for both numbers are even
    if (a%2==0 and b%2==0):
        #If even returning minimum of two numbers
        return min(a,b)
    else:
        #Else returning maximum of two numbers
        return max(a,b)

In [115]:
# Check
lesser_of_two_evens(2,4)

2

2

In [2]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [3]:
def animal_crackers(text):
    '''Function to check two-word string and returns True if both words begin with same letter'''
    #Spliting string into two words as list
    lst=text.split()
    #Returns True or False on checking both words begin with the same letter
    return (lst[0][0]==lst[1][0])

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    '''Function to check if the sum of the integers is 20 or if one of the integers in 20'''
    #Returns True or False based on the condition
    return ((n1+n2)==20 or n1==20 or n2==20)

In [12]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(15,5)

True

In [16]:
makes_twenty(12,8)

True

In [17]:
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [26]:
def old_macdonald(name):
    '''Function to capitalizes the first and fourth letters of a name'''
    #Capitalize the first letter
    cap_name=name.capitalize()
    #Converting string to list
    list_name=list(cap_name)
    #Converting fourth letter to upper
    list_name[3]=list_name[3].upper()
    return ''.join(list_name)

In [27]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [33]:
def master_yoda(text):
    '''Function to reverse the word'''
    #Converting string to list
    list_=text.split()
    #Interchanging first and last word
    list_[0],list_[-1]=list_[-1],list_[0]
    return ' '.join(list_)

In [34]:
# Check
master_yoda('I am home')

'home am I'

In [35]:
# Check
master_yoda('We are ready ')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [41]:
def almost_there(n):
    '''Function to return True if n is within 10 of either 100 or 200'''
    #checking the condition
    return (abs(n-100)<=10 or abs(n-200)<=10)

In [37]:
# Check
almost_there(104)

True

In [38]:
# Check
almost_there(150)

False

In [39]:
# Check
almost_there(209)

True

In [40]:
#Check
almost_there(90)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [43]:
def has_33(nums):
    '''Function to check whether the array contains 3 next to 3'''
    for index,char in enumerate(nums):
        #Checking if list has 3
        if char==3:
            #Returning if the number next to 3 is 3
            return(nums[index+1]==3)

In [44]:
# Check
has_33([1, 3, 3])

True

In [45]:
# Check
has_33([1, 0, 3, 3])

True

In [46]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [49]:
def paper_doll(text):
    '''Function to convert every character in the original there are three characters'''
    #Converting String to list
    list_text=list(text)
    new_list=[]
    for char in list_text:
        #Converting each string to three characters
        new_list.append(char)
        new_list.append(char)
        new_list.append(char)
    return ''.join(new_list)

In [50]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [51]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [56]:
def blackjack(a,b,c):
    sum_abc=a+b+c
    #Checking if the sum is less than 21
    if (sum_abc<=21):
        return sum_abc
    #Checking if the sum exceeds 21 and there's eleven
    elif(sum_abc>21 and (a==11 or b==11 or c==11)):
        #Subtraction 10 from sum of a,b,c
        return (sum_abc-10)
    #Checking if the sum is greater than 21
    elif (sum_abc>21):
        #Returns Bust if the sum is greater than 21
        return 'Bust'

In [57]:
# Check
blackjack(5,6,7)

18

In [58]:
# Check
blackjack(9,9,9)

'Bust'

In [59]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [69]:
def summer_69(arr):
    total=0
    add= True
    #Iterating through numbers
    for num in arr:
        while add:
            #Checking if the number is not equal to 6
            if num!=6:
                #Adding up number upto 6
                total+=num
                break
            else:
                #Return add is false and switches to below while condition
                add= False
                break
                
        while not add:
            #Ignoring the numbers in the location between 6 and 9
            if num!=9:
                break
            #Return add is True if the number is 9   
            else:
                add=True
                break
                
    return total

In [70]:
# Check
summer_69([1, 3, 5])

9

In [71]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [72]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [86]:
def spy_game(nums):
    '''Fucntion to check 007 in order'''
    check_list=[0,0,7,'x']
    for char in nums:
        #Checking for 007 is in order.
        if char==check_list[0]:
            #Removing 1st element of the list
             check_list.pop(0)
    return len(check_list)==1

In [83]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [84]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [85]:
# Check
spy_game([1,7,2,0,4,7,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [94]:
def count_prime(num):
    '''Function to count Prime number upto a given number'''
    prime_num=[]
    #Iterating through the given number.
    for i in range(num+1):
        #Since 1 is neither prime nor composite, so loop will get executed if num is 1
        if i>1:
            for y in range(2,i):
                #Checking for the prime number
                if (i%y==0):
                    break
            else:
                prime_num.append(i)
    return len(prime_num)

In [95]:
count_prime(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [96]:
def print_big(letter):
    #Creating Dictionary for the pattern
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    #Setting up pattern for alphabet
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter]:
        print(patterns[pattern])

In [97]:
print_big('A')

  *
 * *
*****
*   *
*   *

## Great Job!